@charset "UTF-8";

.card{

	border: none;
}
.card:hover{
	 box-shadow: none;
	 color: black;
}
.card-body:hover{
	background-image: url("/resources/img/ticket_img.jpg");
	background-size: contain;
	box-shadow: none;
	
	 color: black;
}

.card-body{
	width: 100%;
	height: 310px;
}
.miki{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.card-line{
	border-top: 1px solid rgb(131, 150, 207);
	margin:0 25px 0 25px;
}
.card-line-bottom{
	border-bottom: 1px solid rgb(131, 150, 207);
	margin:0 25px 0 25px;
}
.img-div{
	border:1px solid rgb(223, 223, 223);
	border-radius: 10px!important;
}
.title-div{
	margin:50px 0 0 20px;
}
.card-count{
	font-size: 14px;
	color: #8f8f8f;
	margin-top: 0;
    margin-bottom: 0;
}
.card-date{
	font-size: 14px;
	color: #3C3C8C;
	margin-top: 0;
    margin-bottom: 0;
}
.span-state{
	border-radius: 5px;
	border: 1px solid rgb(192, 192, 192);
	font-size: 12px;
	padding: 2px;
	
}

.span-gname{
	font-size: 25px;
}
.card-title{
	text-decoration: none;
	cursor: pointer;
}
.title-price{
	font-size: 18px;
	font-weight: bold;
	margin:0;
}

/*버튼*/
.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}
.btnFloat {
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.btnFloat:before {
  content: '처음으로';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  transition: all 0.2s ;
}



.btnLightBlue.btnFloat:before {
  background: #3C3C8C;
}

.btnFloat:before {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}



.btnFloat:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}


/*버튼 끝*/
.top-color{
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
	color: #3C3C8C;
	font-size: 25px;
	
}


.ticketCard{
	background-image: url("/resources/img/ticket_img.jpg");
	background-size: contain;
	width: 82%!important;
	background-repeat:no-repeat;
}

.payment_div{
	text-align: center;
	display: inline-block;
	color: #3C3C8C;
}

.category{
	padding-left: 30%;
	font-size: 40px;
	color: #3C3C8C;
	padding-top:3%;
}

.ticket-object{
	display: flex;
	color:#3C3C8C;
}

.ticket-div{
	width: 68%;
	display: inline-block;
	margin: 0 0 0 7%;
}

.tp-div{
	margin-top: 50px;
}
.allBtn{
	margin-left: 2%;
}

.tkdeleteBtn{
	border-radius: 10px;
	width: 120px;
	color: #3C3C8C;
	content:"취소";
	font-weight: bold;
}

.tkdeleteBtn:after{
	border-radius: 10px;
	width: 120px;
	color: #3C3C8C;
	content:"취소";
	font-weight: bold;
}

.tkdeleteBtn:hover:after{
	border-radius: 10px;
	width: 120px;
	content:"취소할까요?";
	font-weight: bold;
}

.tkListBtn{
	border-radius: 10px;
	width: 120px;
	font-weight: bold;
	color: #3C3C8C;
}

.tkListBtn:hover{
	border-radius: 10px;
	width: 120.5px;
	font-weight: bold;
	background-color: #3C3C8C;
	color: white;
}
