@charset "UTF-8";

h1 {
	text-align: center;
	margin: 30px 0;
}

input[type=text] {
	border: 0;
	text-align: right;
	width: 200px;
}

table tr td{
	border-bottom: 1px solid rgb(211, 211, 237);
	text-align: center;
	padding: 13px 0;
}

.user_info_table{
	width: 600px;
	margin: 0 auto;
}

.div_table{
	width: 700px;
}

.user_name{
	border-top: 3px solid #3c3c8c;
}

#visit_date_text{
	border-bottom: 3px solid #3c3c8c;
	padding-top: 50px;
	width: 25%;
	font-size: 20px;
	font-weight : 900;
}

#visit_date{
	font-size: 30px;
	font-weight : 900;
	border-bottom: 3px solid #3c3c8c;
	padding-top: 50px;
}

#total_price_text{
	font-size: 20px;
	font-weight : 900;
	border-top: 3px solid #3c3c8c;
	border-bottom: 0;
	padding: 25px 0;
}

#total_price{
	font-size: 20px;
	font-weight : 900;
	border-top: 3px solid #3c3c8c;
	padding: 25px 0;
}

.user_td{
	text-align: left;
}

.visit_td{
	text-align: left;
}

.user_td_r{
	text-align: right;
}

.visit_td_r{
	text-align: right;
}

.order_btn {
	width: 600px;
	margin-left: 40px;
	border: 2px solid #3c3c8c;
	background-color: #3c3c8c;
	color: white;
	text-align: center;
	font-weight: 900;
	font-size: 18px;
	height: 50px;
}



/*h1 {
	text-align: center;
	margin: 30px 0;
}

.user_sub{
	text-align: center;
	width: 400px;
	margin-left: 15%;
}

.visit_sub{
	text-align: center;
	width: 400px;
}

input[type=text] {
	border: 0;
	text-align: center;
	width: 200px;
}

input[type=button] {
	float: right;
	margin-left: 66%
}

.user_td{
	width: 100px;
}

.user_info_table{
	width: 400px;
	margin-left: 15%;
	border: 1px solid lightgray;
}

.visit_info_table{
	width: 400px;
	border: 1px solid lightgray;
}

.div_left{
	padding: 0 10px 9% 100px;
}

table tr td{
	border-bottom: 1px solid lightgray;
	text-align: center;
	padding: 10px 0;
}*/